* { box-sizing: border-box; }

.gallery {
    border: 1px solid #ccc
}

.gallery:hover {
    border: 1px solid black;
	opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.gallery img {
    max-width: 200px;
    min-height: 200px;
	border: solid 2px black;
    float: right;
	clear: left;
}

#mainos{
    height: auto;
	float: right;
	padding:5px;
    float: left;
    width: 99%;
}
#mainos:hover {
    border: 1px solid black;
	opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#autogalleria{
	width: 50%;
	float: right;
	clear: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
	margin-bottom: 10px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}