* {
	box-sizing: border-box; 
}

/* galleria luokan tyylit */
.gallery {

}

.gallery:hover {
	opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.gallery img {
    float: right;
	clear: left;
}

/* etusivun päivän nosto kuvan tyylit */
.mainos img{
	float: right;
	padding:5px;
    float: left;
	width: 100%;
	min-height: 350px;
	max-height: 350px;
	border: solid 2px red;
	box-shadow: 5px 0 5px 1px #888888;
}
.mainos:hover {
	opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* Etusivun autogallerian kuvat */
.etusivu img {
    float: left;
	width: 100%;
	height: auto;
	min-height: 200px;
	max-height: 200px;
	border: solid 2px black;
	margin-top: 5px;
	box-shadow: 5px 0 5px 1px #888888;
}
/* autojen selaus sivun kuvien tyylit */
#sautogalleria{
	width: 50%;
	float: right;
	clear: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsiivisyys*/

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
	margin-bottom: 10px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}