* {
	box-sizing: border-box; 
}

/* galleria luokan tyylit */
.gallery {
	float: right;
}

.gallery:hover {
	opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.gallery img {
	width: 100%;
}

/* etusivun päivän nosto kuvan tyylit */
.mainos img{
	padding:5px;
	min-height: 354px;
	max-height: 354px;
	border: solid 2px red;
	box-shadow: 5px 0 5px 1px #888888;
	width: 100%;
}
.mainos:hover {
	opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* Etusivun autogallerian kuvat */
.etusivu img {  
	height: auto;
	min-height: 200px;
	max-height: 200px;
	border: solid 2px black;
	margin-top: 5px;
	box-shadow: 5px 0 5px 1px #888888;
}

/* autojen selaus sivun kuvien tyylit */
.autogalleria img{
	min-height: 350px;
	max-height: 350px;
	width: 100%;
}

/* Responsiivisyys*/
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
	margin-bottom: 10px;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
