* { box-sizing: border-box; }

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    //background-image: url('/imgs/background.jpg');
	border: solid 1px red;
	width: auto;
	margin: 0;
}

#nav{
	background-color: red;
	border: solid 5px purple;
}

li{
  list-style-type: none;
  border-right:1px solid #bbb;	
}
	
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}
ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
background-color: blue;
}

ul.topnav li a.active {
	background-color: brown;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.column{
	float: left;
	padding: 15px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.autoContainer{
	border: solid 2px red;
	width: 40%;
	background-color: white;
}
.galleria{
    border: solid 2px blue;
	width: 60%;
	background-color: white;
}

.auto{
	border: solid 2px blue;
	margin: 0;
	padding-top: 10px;
	padding-left: 15px;
	width: auto;
}


a{
  color: #00B7FF;
}


