* { box-sizing: border-box; }

body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    //background-image: url('/imgs/background.jpg');
	border: solid 1px red;
	width: auto;
	margin: 0;
}

#nav{
	background-color: red;
	margin: left;	
	border: solid 5px purple;
}

li{
  list-style-type: none;
  border-right:1px solid #bbb;	
}
	
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
background-color: blue;
}

ul.topnav li a.active {
	background-color: brown;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

a{
  color: #00B7FF;
}


