* { box-sizing: border-box; }

html, body {
	padding: 10px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    //background-image: url('/imgs/background.jpg');
	width: auto;
	margin: 0;
    height: 100%;
}

a{
  color: #00B7FF;
}

#nav{
	background-color: #f3f5f7;
	border: solid 1px red;
	box-shadow: 5px 5px 5px #888888;
}

li{
  list-style-type: none;
  border-right:1px solid #bbb;	
}
	
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00253d;
}
ul.topnav li {
	float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
background-color: #4985aa;
}

ul.topnav li a.active {
	background-color: brown;
}

ul.topnav li.right {
	float: right;
}


.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

.column{
	float: left;
	padding: 15px;
}

.autoContainer{
	border: solid 2px black;
	width: 35%;
	background-color: #e8eced;
	min-height: 600px;
	box-shadow: 5px 5px 5px #888888;
	margin-right: 10px;
	margin-bottom: 20px;
}
.galleria{
    border: 2px solid black;
	width: 64%;
	background-color: #e8eced;
	min-height: 362px;
	box-shadow: 5px 5px 5px #888888;
}

.auto{
	border: solid 1px black;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding: 10px;
	width: 49%;
	float:left;
	box-shadow: 5px 0 5px 1px #888888;
	background-color: #e8eced;
}

.footer {
   position: fixed;
   bottom: 0;
   width:100%;
   background-color: #00253d;
   border: solid 1px red;
   box-shadow: 5px 5px 5px #888888;
   float: left;
   color:white;
   padding: 10px;
}



@media only screen and (max-width: 700px){
    .autoContainer{ {
        width: 49.99999%;
        margin: 6px 0;
    }
}



@media only screen and (max-width: 700px){
    .auto {
        width: 49.99999%;
        margin: 6px 0;
    }
}


@media only screen and (max-width: 500px){
    .auto {
        width: 100%;
    }
}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}






