<!doctype>
<html>
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>Autokauppa</title>
	 <link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	
	<body>

		<header><img src="/img/logo.png" alt="Autokaupan logo"></header>
		<div ="nav">
		 <ul class ="topnav">
			<li><a href="hakusivu">Hae autoja</a></li>
			<li><a href="lisaa">J채t채 ilmoitus</a></li>
			<li><a href="autot">Selaa ilmoituksia</a></li>
			<li><a href="/">Koti</a></li>
		 </ul>
		</div>

		<header><img height="50px" width="100px" src="/img/logo.png" alt="Autokaupan logo"></header>
		<div id="nav">
			<a href="/">Koti</a>
			<a href="hakusivu">Hae autoja</a>
			<a href="lisaa">J채t채 ilmoitus</a>
			<a href="autot">Selaa ilmoituksia</a>
		</div>
		
		{{{body}}}
	</body>

</html>