<!doctype>
<html>
	<head>
		<title>Autokauppa</title>
<<<<<<< HEAD
		 <link rel="stylesheet" href="/stylesheets/style.css" />
=======
>>>>>>> origin/master
	</head>

	<body>
		<header><img src="/img/logo.png" alt="Autokaupan logo"></header>
		<div id="nav">
			<a href="/">Koti</a>
			<a href="hakusivu">Hae autoja</a>
			<a href="lisaa">Jätä ilmoitus</a>
			<a href="autot">Selaa ilmoituksia</a>
		{{{body}}}
	</body>

</html>