<!doctype>
<html>
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <title>Autokauppa</title>
	 <link rel="stylesheet" href="/stylesheets/style.css" />
	 <link rel="stylesheet" href="/stylesheets/galleria.css" />
	</head>	
	
	<body>
	<img height="250px" width="500px" src="/imgs/logo.png" alt="Autokaupan logo">
	
		<div id= "nav">		
		 <ul class = "topnav">
			<li><a href="/">Etusivu</a></li>
			<li><a href="hakusivu">Hae autoja</a></li>
			<li><a href="lisaa">Jätä ilmoitus</a></li>
			<li><a href="autot">Selaa ilmoituksia</a></li>
		 </ul>
		</div>
		{{{body}}}	
	</body>
	
	<div class ="footer"> &copy: 2017 Autokauppa Oy </div>
</html>