<!doctype>
<html>
	<head>
		<title>Autokauppa</title>
		 <link rel="stylesheet" href="/stylesheets/style.css" />
	</head>

	<body>
	<header><img src="/img/logo.png" alt="Autokaupan logo"></header>
	{{{body}}}
	</body>

</html>