<h1>Hakusivu</h1>

	<form class="form-horizontal" role="form"
		action="/hakuprosessi?form=hakuparametrit" method ="POST">
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">ID</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="id">
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Merkki</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="merkki">
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Malli</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="malli">
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Korimalli</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="korimalli">
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Polttoaine</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="polttoaine">
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Vaihteisto</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="vaihteisto">
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Väri</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="vari">
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Vuosi</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="vuosi">
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Hinta</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="hinta">
			</div>
		</div>
		
		<div class="form-goup">
			<div class="col-sm-offset-2 col-sm-4">
				<button type="submit" class="btn- btn-default">Rekisteröidy</button>
			</div>
		</div>
	</form>