<h1>Jätä ilmoitus</h1>

<div class ="lomake">

	<form class="form-horizontal" role="form"
		action="/lisays-prosessointi?form=uusiAuto" method ="POST">
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">ID</label></br></br>
			<div class="col-sm-4">
				<input type="text" class="form-control" required id="fieldName" name="id"></br></br>
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Merkki</label></br></br>
			<div class="col-sm-4">
				<input type="text" class="form-control" required id="fieldName" name="merkki"></br></br>
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Malli</label></br></br>
			<div class="col-sm-4">
				<input type="text" class="form-control"  required id="fieldName" name="malli"></br>
			</div>
		</div>
		
		<div class="form-group">
			<p><label for="fieldName" class="col-sm-2 controll-label">Korimalli</label></br></br>
				<select id="fieldName" required name="korimalli">
					<option value="" selected="selected">Valitse tyyppi</option>
					<option value="Porrasperä">Porrasperä</option>
					<option value="Farmari">Farmari</option>
					<option value="Viistopera">Viistoperä</option>
					<option value="Tila-auto">Tila-auto</option>
					<option value="Coupe">Coupé</option>
					<option value="Avoauto">Avoauto</option>
					<option value="Muu">Muu</option>
				</select>
			</label></p>
		</div>
		
		<div class="form-group">
			<p><label for="fieldName" required class="col-sm-2 controll-label">Polttoaine</label></br></br>
				<select id="fieldName" required name="polttoaine">
					<option value="" selected="selected">Valitse tyyppi</option>
					<option value="Bensiini">Bensiini</option>
					<option value="Diesel">Diesel</option>
					<option value="Polttooljy">Polttoöljy</option>
					<option value="Sahko">Sähkö</option>
				</select>
			</label></p>
		</div>
		
		
		<div class="form-group">
			<p><label for="fieldName" class="col-sm-2 controll-label">Vaihteisto</label></br></br>
				<select id="fieldName" required name="vaihteisto">
					<option value="" selected="selected">Valitse tyyppi</option>
					<option value="Manuaali">Manuaali</option>
					<option value="Automaatti">Automaatti</option>
				</select>
			</label></p>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" required class="col-sm-2 controll-label">Väri</label></br></br>
			<div class="col-sm-4">
				<input type="text" required class="form-control" id="fieldName" name="vari">
			</div>
		</div>
		
		</br>
		<div class="form-group">
			<label for="fieldName" required class="col-sm-2 controll-label">Vuosi</label></br></br>
			<div class="col-sm-4">
				<input type="number" required class="form-control" id="fieldName" name="vuosi">
			</div>
		</div>
		</br>
		
		<div class="form-group">
			<label for="fieldName" required class="col-sm-2 controll-label">Hinta</label></br></br>
			<div class="col-sm-4">
				<input type="number" required class="form-control" id="fieldName" name="hinta">
			</div>
		</div>
		
		</br>
		<div class="form-goup">
			<div class="col-sm-offset-2 col-sm-4">
				<button type="submit" class="btn- btn-default">Lähetä</button>
			</div>
		</div>
	</form>
</div>