<h1>Lisää</h1>

	<form class="form-horizontal" role="form"
		action="/lisays-prosessointi?form=uusiAuto" method ="POST">
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">ID</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="id">
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Merkki</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="merkki">
			</div>
		</div>
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Malli</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="malli">
			</div>
		</div>
		
		<div class="form-group">
			<p><label for="fieldName" class="col-sm-2 controll-label">Korimalli</label>
				<select id="fieldName" name="korimalli">
					<option value="" selected="selected">Valitse tyyppi</option>
					<option value="Porrasperä">Porrasperä</option>
					<option value="Farmari">Farmari</option>
					<option value="Viistopera">Viistoperä</option>
					<option value="Tila-auto">Tila-auto</option>
					<option value="Coupe">Coupé</option>
					<option value="Avoauto">Avoauto</option>
					<option value="Muu">Muu</option>
				</select>
			</label></p>
		</div>
		
		<div class="form-group">
			<p><label for="fieldName" class="col-sm-2 controll-label">Polttoaine</label>
				<select id="fieldName" name="polttoaine">
					<option value="" selected="selected">Valitse tyyppi</option>
					<option value="Bensiini">Bensiini</option>
					<option value="Diesel">Diesel</option>
					<option value="Polttooljy">Polttoöljy</option>
					<option value="Sahko">Sähkö</option>
				</select>
			</label></p>
		</div>
		
		
		<div class="form-group">
			<p><label for="fieldName" class="col-sm-2 controll-label">Vaihteisto</label>
				<select id="fieldName" name="vaihteisto">
					<option value="" selected="selected">Valitse tyyppi</option>
					<option value="Manuaali">Manuaali</option>
					<option value="Automaatti">Automaatti</option>
				</select>
			</label></p>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Väri</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="fieldName" name="vari">
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Vuosi</label>
			<div class="col-sm-4">
				<input type="number" class="form-control" id="fieldName" name="vuosi">
			</div>
		</div>
		
		
		<div class="form-group">
			<label for="fieldName" class="col-sm-2 controll-label">Hinta</label>
			<div class="col-sm-4">
				<input type="number" class="form-control" id="fieldName" name="hinta">
			</div>
		</div>
		
		
		<div class="form-goup">
			<div class="col-sm-offset-2 col-sm-4">
				<button type="submit" class="btn- btn-default">Lähetä</button>
			</div>
		</div>
	</form>